/* html,body{
    background: black;
} */
.test-assignment {
    font-family: Arial, sans-serif;
  }
  
  .test-title {
    color: #333;
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
  }
  
  .answer {
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .answer.selected {
    background-color: #cce5ff;
    border-color: #66b0ff;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .test-result {
    text-align: center;
    color: #4CAF50;
    font-size: 1.2em;
  }
  